{% extends '::base.html.twig' %}

<html>
  <head>
    <title>
      {% block title %}
        Guest list
      {% endblock %}
    </title>
    {% block stylesheets %}
	<style>
		<!-- Latest compiled and minified CSS -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

		<!-- Optional theme -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">

		<!-- Latest compiled and minified JavaScript -->
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    </style>
    {% endblock %}
  </head>
  <body>
{% block body -%}
    <h1>Guestss list</h1>

    <table class="records_list">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Email</th>
                <th>Isattending</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('test_event_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.name }}</td>
                <td>{{ entity.email }}</td>
                <td>
					{% if entity.isAttending == 1 %}
						<p>Yes</p>
					{% else %}
						<p>No</p>
					{% endif %}
					
				</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('test_event_show', { 'id': entity.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('test_event_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <a href="{{ path('test_event_new') }}">
                Create a new entry
            </a>
        </li>
    </ul>
    {% endblock %}
</body>
</html>
